/* .egg egg-top {


} */


.home
{
  height: 100px;
  /* background-color: red */
}
#eggs {
  height: 100%;
  /* height: 250px;
  margin-top: 50%;
  margin-left: 20%; */
  animation: wiggling 4s ease;
  animation-iteration-count: 1;
  background-image: url(egg1.png);
  background-size: cover;
  /* animation-fill-mode: forwards; */
  /* transform: opacity(0.1) 4s; */
}
#eggs.broke {
  /* height: 250px;
  margin-top: 50%;
  margin-left: 20%; */
  animation: wiggling 4s ease;
  animation-iteration-count: 1;
  background-image: url(egg-bottom.png);
  background-size: cover;

  /* animation-fill-mode: forwards; */
  /* transform: opacity(0.1) 4s; */
}

.hidden { display: none; }

.unhidden { display: block; }

img {
    /* transform: scaleY(2) 500ms ease-in-out 1s; */
    /* -webkit-animation-name: wiggling;
    -ms-animation-name: wiggling;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 2;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out; */
}

@keyframes stretch {
  0% {transform: scaleY(1);}
  100% {transform: scaleY(1.2);}
}

@keyframes example {
  0% {
    background-color: red;
    top: 0;
    left: 0;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 0;
  }
  100% {
    background-color: yellow;
    left: 200px;
    top: 50px;
  }
}


 @-webkit-keyframes wiggling {
    0% {transform: rotate(5deg);}
    10% {transform: rotate(-3deg);}

    15% {transform: scaleY(1.1)}
    20% {transform: rotate(5deg);}
    25% {transform: rotate(-4deg);}

    33% {transform: scaleY(1.2)}
    50% {transform: rotate(5deg);}
    55%% {transform: rotate(-4deg);}

    60% {transform: scaleY(1.3)}
    75% {transform: rotate(-3deg);}
    85% {transform: scaleY(1.5);}
    /* 99% {transform: opacity(1);} */
    100% {
      transform: rotate(0deg);
      }
  }
@-webkit-keyframes disappear {
    0% {transform: opacity(1);}
    100% {transform: opacity(0);}
}

/*
  @-ms-keyframes wiggling {
    0% {transform: rotate(5deg);}
    25% {transform: rotate(-3deg);}
    50% {transform: rotate(5deg);}
    75% {transform: rotate(-3deg);}
    100% {transform: rotate(0deg);}
  }

  @keyframes wiggling {
    0% {transform: rotate(5deg);}
    25% {transform: rotate(-3deg);}
    50% {transform: rotate(5deg);}
    75% {transform: rotate(-3deg);}
    100% {transform: rotate(0deg);}
  } */
