/* body, html {
  height: 100%;
} */


body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #6F6F71;
  font-family: Tahoma;
}



.egg-bottom {
  position: absolute;
  max-width: 20%;
  height: auto;
  top: 30vw;

  margin-left: 40%;
  animation: wigglingdown 8s ease forwards;

}
.egg-top {
  position: absolute;
  width: 20%;
  height: auto;
  top: 30vw;
  left: 40%;
  animation: wigglingup 8s ease forwards;
}
.cat {
  position: absolute;
  width: 10%;
  height: auto;
  top: 35vw;
  left: 45%;
  animation: grow 1s ease forwards 8s;
}
.cat-angry {
  position: absolute;
  display: none;
  width: 30%;
  height: auto;
  top: 24.5vw;
  left: 35%;
}

/* .box {
  position: absolute;
  width: 7%;
  height: 7%;
  top: 25vw;
  left: 30%;
  border: 50px solid black;
} */
.paws {
  animation: rise 4s linear 9s;
}
.paw-right {
  position: absolute;
  width: 20%;
  height: auto;
  top: 800px;
  left: 70%;
}
.paw-left {
  position: absolute;
  width: 20%;
  height: auto;
  top: 800px;
  left: 20%;
}

.cat:hover + .cat-angry {
  display: block;
}
.cat:hover + .paws {
  transform: translateY(-800px);

}
@keyframes rise {
  0% {transform: translateY(0px);}
  10% {transform: translateY(-300px);}
  50% {transform: translateY(-300px);}

  55% {transform: translateY(-400px);}
  70% {transform: translateY(-400px);}

  75% {transform: translateY(-300px);}
  99% {transform: translateY(-300px);}

  100% {transform: translateY(0);}

}
/* .paws:hover {
  transform: translateY(-2000px);


} */
/* .cat:hover {
  transform: rotate(5deg);
  100% {transform: rotate(-5deg)}
} */


/* Textbox 1 start */
  .textbox1 {
    animation: slide1 1s ease backwards 8s;
  }
  .textbox1:hover {
    filter: invert(100%);
   }
  .bubble1 {
    position: absolute;
    width: 35%;
    height: auto;
    top: 4vw;
    left: 3%;
    max-width: 300px;
  }
  .letters1 {
    position: absolute;
    color: black;
    letter-spacing: 0px;
    text-decoration: none;
    font-size: 5vw;
    top: 20vw;
    left: 15%;

  }
  .letters1:hover {
    animation: letterbounce 1.5s linear infinite;
  }
/* Textbox 1 end */

/* Textbox 2 start */
  .textbox2 {
    animation: slide2 1s ease backwards 8s;
  }
  .textbox2:hover {
    filter: invert(100%);
  }
  .bubble2 {
    position: absolute;
    height: auto;
    width: 35%;
    /* max-width: 300px; */
    top: 35vw;
    left: 1%;
  }
  .letters2 {
    color: black;
    letter-spacing: 0px;
    position: absolute;
    top: 40vw;
    left: 10%;
    text-decoration: none;
    font-size: 6vw;
  }
  .letters2:hover {
    animation: letterbounce 1.5s linear infinite;
  }
/* Textbox 2 ends */


/* Textbox 3 start */
  .textbox3 {
    animation: slide3 1s ease backwards 8s;
  }
  .textbox3:hover {
    filter: invert(100%);
  }
  .bubble3 {
    position: absolute;
    height: auto;
    width: 40%;
    max-width: 300px;
    top: 53vw;
    left: 5%;
  }
  .letters3 {
    color: black;
    letter-spacing: 0px;
    position: absolute;
    top: 62vw;
    left: 10%;
    text-decoration: none;
    font-size: 6vw;
  }
  .letters3:hover {
    animation: letterbounce 1.5s linear infinite;
  }
/* Textbox 3 ends */


/* Textbox 4 start */
  .textbox4 {
    animation: slide4 1s ease backwards 8s;
  }
  .textbox4:hover {
    filter: invert(100%);
   }
  .bubble4 {
    position: absolute;
    width: 30%;
    height: auto;
    top: 11vw;
    left: 65%;
  }
  .letters4 {
    color: black;
    letter-spacing: 0px;
    position: absolute;
    text-decoration: none;
    font-size: 6vw;
    top: 25vw;
    left: 75%;
  }
  .letters4:hover {
    animation: letterbounce 1.5s linear infinite;
  }
/* Textbox 4 ends */

/* Textbox 5 start */
  .textbox5 {
    animation: slide5 1s ease backwards 8s;
  }
  .textbox5:hover {
    filter: invert(100%);
   }
  .bubble5 {
    position: absolute;
    width: 34%;
    height: auto;
    top: 35vw;
    left: 66%;
  }
  .letters5 {
    color: black;
    letter-spacing: 0px;
    position: absolute;
    text-decoration: none;
    font-size: 6vw;
    top: 40vw;
    left: 77%;
  }
  .letters5:hover {
    animation: letterbounce 1.5s linear infinite;
  }
/* Textbox 5 ends */




/* Textbox 6 start */
  .textbox6 {
    animation: slide6 1s ease backwards 8s;
  }
  .textbox6:hover {
    filter: invert(100%);
  }
  .bubble6 {
    position: absolute;
    height: auto;
    width: 40%;
    max-width: 300px;
    top: 58vw;
    left: 65%;
  }
  .letters6 {
    color: black;
    letter-spacing: 5px;
    position: absolute;
    top: 65vw;
    left: 70%;
    text-decoration: none;
    font-size: 6vw;
  }
  .letters6:hover {
    animation: letterbounce 1.5s linear infinite;
  }
/* Textbox 6 ends */



/* Makes letters bouce animation */
@keyframes letterbounce {
  0% {transform: translateY(0px);}
  10% {transform: translateY(-30px);}
  15% {transform: translateY(0px);}
  25% {transform: translateY(-20px);}
  30% {transform: translateY(0px);}
  40% {transform: translateY(-10px);}
  45% {transform: translateY(0px);}
  100% {transform: translateY(0px);}
}

/* Slide in textboxes */
@keyframes slide1 {
  0% {transform: translateX(-500px);}
  100% {transform: translateX(0px);}
}

@keyframes slide2 {
  0% {transform: translateX(-500px);}
  100% {transform: translateX(0px);}
}

@keyframes slide3 {
  0% {transform: translateX(-500px);}
  100% {transform: translateX(0px);}
}

@keyframes slide4 {
  0% {transform: translateX(800px);}
  100% {transform: translateX(0px);}
}

@keyframes slide5 {
  0% {transform: translateX(800px);}
  100% {transform: translateX(0px);}
}

@keyframes slide6 {
  0% {transform: translateX(800px);}
  100% {transform: translateX(0px);}
}










    /* transform: scaleY(2) 500ms ease-in-out 1s; */
    /* -webkit-animation-name: wiggling;
    -ms-animation-name: wiggling;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 2;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out; */


@keyframes stretch {
  0% {transform: scaleY(1);}
  100% {transform: scaleY(1.2);}
}


 @keyframes wigglingup {
    0% {transform: rotate(5deg);}
    10% {transform: rotate(-3deg);}

    15% {transform: scaleY(1.1)}
    20% {transform: rotate(5deg);}
    25% {transform: rotate(-4deg);}

    33% {transform: scaleY(1.2)}
    45% {transform: translateY(-5px);}

    50% {transform: rotate(5deg);}
    55%% {transform: rotate(-6deg);}

    60% {transform: scaleY(1.3)}
    65% {transform: translateY(-10px);}
    75% {transform: rotate(-5deg);}

    85% {transform: scaleY(1.5);}
    /* 99% {transform: opacity(1);} */
    95% {
      transform: rotate(0deg);
      transform: translateY(-1000px);
      }
      100% {transform: translateY(-1000px);}
  }

  @keyframes wigglingdown {
     0% {transform: rotate(5deg);}
     10% {transform: rotate(-3deg);}

     15% {transform: scaleY(1.1)}
     20% {transform: rotate(5deg);}
     25% {transform: rotate(-4deg);}

     33% {transform: scaleY(1.2)}
     50% {transform: rotate(5deg);}
     55%% {transform: rotate(-4deg);}

     60% {transform: scaleY(1.3)}
     75% {transform: rotate(-3deg);}
     85% {transform: scaleY(1.5);}
     /* 99% {transform: opacity(1);} */
     95% {
       transform: rotate(0deg);
       transform: translateY(1000px);
       }
    100% {transform: translateX(1000px);}
   }

   @keyframes grow {
     0% {transform: scale(1);}
     100% {transform: scale(3);}
   }
/* changes the width of the cat when the screen gets below 700px */
/* @media screen and (max-width: 600px){
    .cat {
      height: 25px;
    }
    .egg-bottom {
      height: 100px;
    }
    .egg-top {
      height: 100px;
    }
    #bubble4 {
      width: 125px;
      height: 50px;
    }
    .letters4 {
      font-size: 25px;
    }
} */

/* These are used for different browsers, use then later! */
/*
  @-ms-keyframes wiggling {
    0% {transform: rotate(5deg);}
    25% {transform: rotate(-3deg);}
    50% {transform: rotate(5deg);}
    75% {transform: rotate(-3deg);}
    100% {transform: rotate(0deg);}
  }

  @-webkit-keyframes wiggling {
    0% {transform: rotate(5deg);}
    25% {transform: rotate(-3deg);}
    50% {transform: rotate(5deg);}
    75% {transform: rotate(-3deg);}
    100% {transform: rotate(0deg);}
  } */
  /* @media screen and (max-width: 600px){
      #bubble1 {
        width: 100px;

      } */
  }
