@import url('https://fonts.googleapis.com/css?family=Karla');
@font-face {
font-family: "funsized";
src: url("/css/fonts/funsized.ttf");
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #6F6F71;
  font-family: FunSized;
    
}
#nav {
  font-family: "Karla", Helvetica, sans-serif;
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: black;
  text-align: center;
  opacity: 0.5;
}
#nav li {
  display: inline;
}
#nav li a {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  }
.line { border-right: 1px solid #ccc;}

.back {
  position: absolute;
  text-align: center;
  border: 3px solid black;
  background-color: white;
  border-radius: 2px;
  padding: 12px 15px;
  color: black;
  top: 40px;
  left: 20px;
  text-decoration: none;
  font-size: 20px;
}





.title {
  position: absolute;
  top: 70%;
  left: 20%;

  font-size: 5vw;
}

.bird {
  position: absolute;
  top:25%;
  left: 40%;
  width: 20%;
  height: auto;
  animation: divert 3s ease-in-out infinite;
}
.left {
  position:absolute;
  top:25%;
    width: 140vw;
    animation: grableft 3s linear infinite;
}
.right {
  position:absolute;
  top:25%;
  width: 140vw;
  animation: grabright 3s linear infinite;
}
@keyframes grabright {
  0% {
    left: 90%;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 90%;
  }
}
@keyframes grableft {
  0% {
    left: -80%;
  }
  50% {
    left: -130%;
  }
  100% {
    left: -80%;
  }
}

@keyframes divert {
  0% {left: 58%;}
  15% {transform: rotate(-3deg);}

  30% {transform: rotate(5deg);}

  45% {transform: rotate(-3deg);}
  50% {
    left: 20%;
    }

  60% {transform: rotate(5deg);}

  75% {transform: rotate(-3deg);}

  90% {transform: rotate(5deg);}
  100% {left: 58%;}
}

  /* 5% {left: 75%;
      top: 50px;}
  10% {left: 43%;
      top: 5vw;}
  15% {transform: rotate(-3deg);}
  20% {transform: rotate(5deg);}
  25% {transform: rotate(-3deg);}
  30% {transform: rotate(5deg);}
  35% {transform: rotate(-3deg);}
  40% {transform: rotate(5deg);}
  45% {transform: rotate(-3deg);}
  50% {transform: rotate(5deg);}
  55% {transform: rotate(-3deg);}
  60% {transform: rotate(5deg);}
  65% {transform: rotate(-3deg);}
  70% {transform: rotate(5deg);}
  75% {transform: rotate(-3deg);}
  80% {
      transform: rotate(5deg);
      left: 43%;
      top: 5vw;}
  85% {left: 25%;
      top: 50px;}
  90% {left: -200px;
      top: 50px;}
  100% {left: -200px;
      top: 50px;}

} */
@media screen and (max-width: 970px){
  .back {
    font-size: 3vw;
    top: 60px;
    padding: 5px 10px;}
  .title {
      top: 50%;
  }
}


@media screen and (max-width: 500px){
  .back {
    border: 1px solid black;
    background-color: white;
    border-radius: 2px;
    padding: 3px 5px;
    color: black;
    top: 80px;
    left: 20px;
    text-decoration: none;
    font-size: 2vw;
  }
  .title {
      top: 280px;
  }
}
