
@import url('https://fonts.googleapis.com/css?family=Karla');
@font-face {
font-family: "funsized";
src: url("css/fonts/funsized.ttf");
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #6F6F71;
  font-family: "funsized", sans-serif;
}

#nav {
  font-family: "Karla", Helvetica, sans-serif;
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: black;
  text-align: center;
  opacity: 0.5;
}
#nav li {
  display: inline;
}
#nav li a {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  }
.line { border-right: 1px solid #ccc;}

@-webkit-keyframes grow {
  0% {-webkit-transform: scale(.33);transform: scale(.33);}
  100% {-webkit-transform: scale(1);transform: scale(1);}
}

@keyframes grow {
  0% {-webkit-transform: scale(.33);transform: scale(.33);}
  100% {-webkit-transform: scale(1);transform: scale(1);}
}
@-webkit-keyframes wigglingdown {
   0% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
   10% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}

   15% {-webkit-transform: scaleY(1.1);transform: scaleY(1.1)}
   20% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
   25% {-webkit-transform: rotate(-4deg);transform: rotate(-4deg);}

   33% {-webkit-transform: scaleY(1.2);transform: scaleY(1.2)}
   50% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
   55%% {-webkit-transform: rotate(-4deg);transform: rotate(-4deg);}

   60% {-webkit-transform: scaleY(1.3);transform: scaleY(1.3)}
   75% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
   85% {-webkit-transform: scaleY(1.5);transform: scaleY(1.5);}

   100% {
     -webkit-transform: rotate(0deg);
             transform: rotate(0deg);
     -webkit-transform: translateY(3000px);
             transform: translateY(3000px);
     }
 }
@keyframes wigglingdown {
   0% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
   10% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}

   15% {-webkit-transform: scaleY(1.1);transform: scaleY(1.1)}
   20% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
   25% {-webkit-transform: rotate(-4deg);transform: rotate(-4deg);}

   33% {-webkit-transform: scaleY(1.2);transform: scaleY(1.2)}
   50% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
   55%% {-webkit-transform: rotate(-4deg);transform: rotate(-4deg);}

   60% {-webkit-transform: scaleY(1.3);transform: scaleY(1.3)}
   75% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
   85% {-webkit-transform: scaleY(1.5);transform: scaleY(1.5);}

   100% {
     -webkit-transform: rotate(0deg);
             transform: rotate(0deg);
     -webkit-transform: translateY(3000px);
             transform: translateY(3000px);
     }
 }
@-webkit-keyframes fly {
  0% {left: -200px;
  top: 200px;}
  10% {left: -200px;
  top: 200px;}
  15% {left: 25%;
  top: 70px;}
  20% {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  left: 43%;
  top: 5vw;}
  25% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  30% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  35% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  40% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  45% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  50% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  55% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  60% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  65% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  70% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  75% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  80% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  85% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  90% {left: 43%;
  top: 5vw;}
  95% {left: 75%;
  top: 50px;}
  100% {left: 100%;
  top: 100px;}
}
@keyframes fly {
  0% {left: -200px;
  top: 200px;}
  10% {left: -200px;
  top: 200px;}
  15% {left: 25%;
  top: 70px;}
  20% {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  left: 43%;
  top: 5vw;}
  25% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  30% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  35% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  40% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  45% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  50% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  55% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  60% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  65% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  70% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  75% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  80% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
  85% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
  90% {left: 43%;
  top: 5vw;}
  95% {left: 75%;
  top: 50px;}
  100% {left: 100%;
  top: 100px;}
}
/* Slide in textboxes */
@-webkit-keyframes slide1 {
  0% {-webkit-transform: translateX(-700px);transform: translateX(-700px)
    /* translateY(-153px); */
  }
  100% {-webkit-transform: translateX(0px);transform: translateX(0px)
    /* translateY(-153px); */
  }

}
@keyframes slide1 {
  0% {-webkit-transform: translateX(-700px);transform: translateX(-700px)
    /* translateY(-153px); */
  }
  100% {-webkit-transform: translateX(0px);transform: translateX(0px)
    /* translateY(-153px); */
  }

}

@-webkit-keyframes slide2 {
  0% {-webkit-transform: translateX(2000px);transform: translateX(2000px);}
  100% {-webkit-transform: translateX(0px);transform: translateX(0px);}
}

@keyframes slide2 {
  0% {-webkit-transform: translateX(2000px);transform: translateX(2000px);}
  100% {-webkit-transform: translateX(0px);transform: translateX(0px);}
}


.egg-bottom {
  position: absolute;
  width: 20%;
  height: auto;
  top: 12vw;
  margin-left: 40%;
  -webkit-animation: wigglingdown 5s ease forwards;
          animation: wigglingdown 5s ease forwards;
  overflow: hidden;

}
.egg-top {
  position: absolute;
  width: 20%;
  height: auto;
  top: 12vw;
  left: 40%;
  -webkit-animation: wigglingup 5s ease forwards;
          animation: wigglingup 5s ease forwards;
}
.cat {
  position: absolute;
  width: 30%;
  /* max-width: 200px; */
  height: auto;
  top: 151px;
  left: 35%;
  -webkit-animation: grow 1s ease both 5s;
          animation: grow 1s ease both 5s;
}

.cat-angry {
  position: absolute;
  opacity: 0;
  width: 30%;
  max-width: 500px;
  height: auto;
  top: 151px;
  left: 35%;
  -webkit-animation: grow 1s ease both 5s;
          animation: grow 1s ease both 5s;
}
.twitter {
  width: 10%;
  height: auto;
  position: absolute;
  top: 10px;
  left: 43%;
  -webkit-animation: fly 20s infinite ease both 8s;
          animation: fly 20s infinite ease both 8s;

}


.paw-left {
  position: absolute;
  width: 50%;
  height: auto;
  top: 100px;
  left: -60%;
  -webkit-animation: scratch 3s linear 11s;
          animation: scratch 3s linear 11s;


}
@-webkit-keyframes scratch {
  0% {-webkit-transform: translateX(0);transform: translateX(0);}
  5% {-webkit-transform: translateX(80%);transform: translateX(80%);}
  25% {-webkit-transform: translateX(0);transform: translateX(0);}
  50% {-webkit-transform: translateX(80%);transform: translateX(80%);}
  65% {-webkit-transform: translateX(0);transform: translateX(0);}
  80% {-webkit-transform: translateX(100%);transform: translateX(100%);}
  100% {-webkit-transform: translateX(0);transform: translateX(0);}
}
@keyframes scratch {
  0% {-webkit-transform: translateX(0);transform: translateX(0);}
  5% {-webkit-transform: translateX(80%);transform: translateX(80%);}
  25% {-webkit-transform: translateX(0);transform: translateX(0);}
  50% {-webkit-transform: translateX(80%);transform: translateX(80%);}
  65% {-webkit-transform: translateX(0);transform: translateX(0);}
  80% {-webkit-transform: translateX(100%);transform: translateX(100%);}
  100% {-webkit-transform: translateX(0);transform: translateX(0);}
}

.cat-angry:hover {
  opacity: 1;}


/* Textbox 1 start */
  .textbox1 {
    -webkit-animation: slide1 1s ease backwards 5s;
            animation: slide1 1s ease backwards 5s;
  }
  .textbox1:hover {
    -webkit-filter: invert(100%);
            filter: invert(100%);
   }
  .bubble1 {
    position: absolute;
    width: 25%;
    max-width: 350px;
    height: auto;
    top: 10px;
    left: 10%;
  }
  .letters1 {
    position: absolute;
    color: black;
    letter-spacing: 0px;
    text-decoration: none;
    font-size: 3.5vw;
    top: 120px;
    left: 14%;
  }
  .letters1:hover {
    -webkit-animation: letterbounce 1.5s linear infinite;
            animation: letterbounce 1.5s linear infinite;
  }
/* Textbox 1 end */

/* Textbox 2 start */
  .textbox2 {
    -webkit-animation: slide1 1s ease backwards 5.5s;
            animation: slide1 1s ease backwards 5.5s;
  }
  .textbox2:hover {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .bubble2 {
    position: absolute;
    height: auto;
    width: 25%;
    max-width: 400px;
    top: 300px;
    left: 5%;
  }
  .letters2 {
    color: black;
    letter-spacing: 0px;
    position: absolute;
    top: 369px;
    left: 10%;
    text-decoration: none;
    font-size: 3.5vw;
  }
  .letters2:hover {
    -webkit-animation: letterbounce 1.5s linear infinite;
            animation: letterbounce 1.5s linear infinite;
  }
/* Textbox 2 ends */


/* Textbox 3 start */
  .textbox3 {
    -webkit-animation: slide1 1s ease backwards 6s;
            animation: slide1 1s ease backwards 6s;
  }
  .textbox3:hover {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .bubble3 {
    position: absolute;
    height: auto;
    width: 30%;
    /* max-width: 300px; */
    top: 470px;
    left: 4%;
  }
  .letters3 {
    color: black;
    letter-spacing: 0px;
    position: absolute;
    top: 580px;
    left: 9%;
    text-decoration: none;
    font-size: 3.5vw;
  }
  .letters3:hover {
    -webkit-animation: letterbounce 1.5s linear infinite;
            animation: letterbounce 1.5s linear infinite;
  }
/* Textbox 3 ends */


/* Textbox 4 start */
  .textbox4 {
    -webkit-animation: slide2 1s ease backwards 5s;
            animation: slide2 1s ease backwards 5s;


  }
  .textbox4:hover {
    -webkit-filter: invert(100%);
            filter: invert(100%);
   }
  .bubble4 {
    position: absolute;
    width: 24%;
    height: auto;
    top: 40px;
    left: 65%;
  }
  .letters4 {
    color: black;
    letter-spacing: 0px;
    position: absolute;
    text-decoration: none;
    font-size: 3.5vw;
    top: 120px;
    left: 69%;
  }
  .letters4:hover {
    -webkit-animation: letterbounce 1.5s linear infinite;
            animation: letterbounce 1.5s linear infinite;
  }
/* Textbox 4 ends */

/* Textbox 5 start */
  .textbox5 {
    -webkit-animation: slide2 1s ease backwards 5.5s;
            animation: slide2 1s ease backwards 5.5s;


  }
  .textbox5:hover {
    -webkit-filter: invert(100%);
            filter: invert(100%);
   }
  .bubble5 {
    position: absolute;
    width: 30%;
    height: auto;
    top: 280px;
    left: 66%;
  }
  .letters5 {
    color: black;
    letter-spacing: 0px;
    position: absolute;
    text-decoration: none;
    font-size: 3.5vw;
    top: 370px;
    left: 78%;
  }
  .letters5:hover {
    -webkit-animation: letterbounce 1.5s linear infinite;
            animation: letterbounce 1.5s linear infinite;
  }
/* Textbox 5 ends */




/* Textbox 6 start */
  .textbox6 {
    -webkit-animation: slide2 1s ease backwards 6s;
            animation: slide2 1s ease backwards 6s;


  }
  .textbox6:hover {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .bubble6 {
    position: absolute;
    height: auto;
    width: 30%;
    max-width: 500px;
    top: 500px;
    left: 65%;
  }
  .letters6 {
    color: black;
    letter-spacing: 4px;
    position: absolute;
    top: 585px;
    left: 67.5%;
    text-decoration: none;
    font-size: 3.5vw;
  }
  .letters6:hover {
    -webkit-animation: letterbounce 1.5s linear infinite;
            animation: letterbounce 1.5s linear infinite;
  }
/* Textbox 6 ends */



/* Makes letters bouce animation */
@-webkit-keyframes letterbounce {
  0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
  10% {-webkit-transform: translateY(-30px);transform: translateY(-30px);}
  15% {-webkit-transform: translateY(0px);transform: translateY(0px);}
  25% {-webkit-transform: translateY(-20px);transform: translateY(-20px);}
  30% {-webkit-transform: translateY(0px);transform: translateY(0px);}
  40% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
  45% {-webkit-transform: translateY(0px);transform: translateY(0px);}
  100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}
@keyframes letterbounce {
  0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
  10% {-webkit-transform: translateY(-30px);transform: translateY(-30px);}
  15% {-webkit-transform: translateY(0px);transform: translateY(0px);}
  25% {-webkit-transform: translateY(-20px);transform: translateY(-20px);}
  30% {-webkit-transform: translateY(0px);transform: translateY(0px);}
  40% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
  45% {-webkit-transform: translateY(0px);transform: translateY(0px);}
  100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}




 @-webkit-keyframes wigglingup {
    0% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
    10% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}

    15% {-webkit-transform: scaleY(1.1);transform: scaleY(1.1)}
    20% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
    25% {-webkit-transform: rotate(-4deg);transform: rotate(-4deg);}

    33% {-webkit-transform: scaleY(1.2);transform: scaleY(1.2)}
    45% {-webkit-transform: translateY(-5px);transform: translateY(-5px);}

    50% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
    55%% {-webkit-transform: rotate(-6deg);transform: rotate(-6deg);}

    60% {-webkit-transform: scaleY(1.3);transform: scaleY(1.3)}
    65% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
    75% {-webkit-transform: rotate(-5deg);transform: rotate(-5deg);}

    85% {-webkit-transform: scaleY(1.5);transform: scaleY(1.5);}
    /* 99% {transform: opacity(1);} */
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      }
  }


 @keyframes wigglingup {
    0% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
    10% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}

    15% {-webkit-transform: scaleY(1.1);transform: scaleY(1.1)}
    20% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
    25% {-webkit-transform: rotate(-4deg);transform: rotate(-4deg);}

    33% {-webkit-transform: scaleY(1.2);transform: scaleY(1.2)}
    45% {-webkit-transform: translateY(-5px);transform: translateY(-5px);}

    50% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
    55%% {-webkit-transform: rotate(-6deg);transform: rotate(-6deg);}

    60% {-webkit-transform: scaleY(1.3);transform: scaleY(1.3)}
    65% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
    75% {-webkit-transform: rotate(-5deg);transform: rotate(-5deg);}

    85% {-webkit-transform: scaleY(1.5);transform: scaleY(1.5);}
    /* 99% {transform: opacity(1);} */
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      }
  }

  @media screen and (max-width: 970px){
    .egg-bottom {
      position: absolute;
      width: 20%;
      height: auto;
      top: 30vw;
      margin-left: 40%;
    }
    .egg-top {
      position: absolute;
      width: 20%;
      height: auto;
      top: 30vw;
      left: 40%;
    }
      .cat {
        width: 30%;
        height: auto;
        top: 24.5vw;
        left: 36%;
      }
      .cat-angry {
        width: 30%;
        height: auto;
        top: 24.5vw;
        left: 36%;
      }
      .bubble1 {
        width: 35%;
        height: auto;
        top: 4vw;
        left: 3%;
      }
      .letters1 {
        font-size: 5vw;
        top: 15vw;
        left: 8.5%;
      }
      .bubble2 {
        height: auto;
        width: 35%;
        top: 35vw;
        left: 1%;
      }
      .letters2 {
        top: 41.5vw;
        left: 8%;
        font-size: 5vw;
      }
      .bubble3 {
        width: 37%;
        top: 54vw;
        left: 6%;
      }
      .letters3 {
        top: 63.5vw;
        left: 9%;
        font-size: 5vw;
      }
      .bubble4 {
        width: 30%;
        height: auto;
        top: 11vw;
        left: 65%;
      }
      .letters4 {
        font-size: 5vw;
        top: 17vw;
        left: 69%;
      }
      .bubble5 {
        width: 34%;
        height: auto;
        top: 35vw;
        left: 66%;
      }
      .letters5 {
        font-size: 5vw;
        top: 42vw;
        left: 79%;
      }
      .bubble6 {
        width: 43%;
        height: auto;
        top: 55vw;
        left: 56%;
      }
      .letters6 {
        top: 64vw;
        left: 60%;
        font-size: 5vw;
      }
      @-webkit-keyframes fly {
      0% {left: -200px;
      top: 200px;}
      10% {left: -200px;
      top: 200px;}
      15% {left: 25%;
      top: 70px;}
      20% {
      -webkit-transform: rotate(5deg);
              transform: rotate(5deg);
      left: 43%;
      top: 50px;}
      25% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      30% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
      35% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      40% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
      45% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      50% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
      55% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      60% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
      65% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      70% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
      75% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      80% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
      85% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      90% {left: 43%;
      top: 50px;}
      95% {left: 75%;
      top: 50px;}
      100% {left: 100%;
      top: 100px;}
      }
      @keyframes fly {
      0% {left: -200px;
      top: 200px;}
      10% {left: -200px;
      top: 200px;}
      15% {left: 25%;
      top: 70px;}
      20% {
      -webkit-transform: rotate(5deg);
              transform: rotate(5deg);
      left: 43%;
      top: 50px;}
      25% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      30% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
      35% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      40% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
      45% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      50% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
      55% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      60% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
      65% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      70% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
      75% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      80% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
      85% {-webkit-transform: rotate(-3deg);transform: rotate(-3deg);}
      90% {left: 43%;
      top: 50px;}
      95% {left: 75%;
      top: 50px;}
      100% {left: 100%;
      top: 100px;}
      }
}
